<h1>HomePage</h1>


<% if current_user %>
  <%= current_user.inspect %>
<% end %>


<% unless current_user %>
    <%= link_to "sign in with facebook", user_facebook_omniauth_authorize_path %>
<% else %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>